<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.iot.mapper.UserMapper"><!-- mapper interface의 경로와 동일 -->
	<!-- 사용자 로그인 -->
	<select id="userLogin" parameterType="String" resultType="_int">
		select count(*) from userInfo where userID=#{userID} and userPW=#{userPW}
	</select>

	<!-- 사용자 전체 가져오기 -->
	<select id="userList" resultType="com.smhrd.iot.domain.UserInfo">  
		select * from userInfo
	</select>
	
	<!-- 사용자 추가하기 -->
	<insert id="userInsert" parameterType="com.smhrd.iot.domain.UserInfo">
		insert into userInfo(userID, userPW, caneId, userName, userAddress, userTel, userBirth) 
		values(#{userID}, #{userPW}, #{caneId}, #{userName}, #{userAddress}, #{userTel}, #{userBirth})
	</insert>
	
	<!-- 사용자 정보 수정 -->
	<update id="userUpdate" parameterType="com.smhrd.iot.domain.UserInfo">
		update userInfo set userPW=#{userPW}, caneId=#{caneId}, caneId=#{caneId}, 
		userName=#{userName}, userAddress=#{userAddress}, userTel=#{userTel}, userBirth=#{userBirth}
		where userID=#{userID}
	</update>
</mapper>