<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.iot.mapper.UserMapper"><!-- mapper interface의 경로와 동일 -->
	<!-- 사용자 로그인 -->
	<select id="userLogin" parameterType="String" resultType="_int">
		select count(*) from userInfo where userID=#{userID} and userPW=#{userPW}
	</select>

	<!-- 사용자 전체 가져오기 -->
	<select id="userList" resultType="com.smhrd.iot.domain.UserInfo">  
		select * from userInfo
	</select>
</mapper>