<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   	<!-- mybatis내 설정하고싶으면 생성 후 configuration내 작성 + 이 파일의 위치설정은 properties에 작성하기 -->
   	<typeAliases>
   		<typeAlias alias="Board" type="com.smhrd.iot.domain.Board"/>
   	</typeAliases>
   
</configuration>